@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jura:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

::-webkit-scrollbar{
    @apply hidden
}

*{
    font-family: outfit;
}

@keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out forwards;
  }
  