@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jura:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


*{
    font-family: Outfit;
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width:740px){
    .active p{
        @apply text-white bg-[#5f6FFF]
    }
    
}
